@page
@model EntregaCiclo1.Pages.AyudaModel
@{
    ViewData["Title"] = "Ayuda";
    Layout = "_LayoutPaginaSorteosTec";
}

<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> <!-- Bootstrap -->
    <style>

        .titulo {
            margin-top: 3%;
            margin-bottom: 3%;
            width: 100%;
            border-top: 1px solid #DFDFDF;
            border-bottom: 1px solid #DFDFDF;
            padding: 1%;
        }

        .pregunta-item {
            margin-top: 2%;
        }

        .pregunta {
            cursor: pointer;
            background-color: #f5f5f5;
            padding: 1%;
            border: 1px solid #DDDDDD;
            border-radius: 5px;
        }

        .respuesta {
            display: none;
            padding: 1%;
            border: 1px solid #DDDDDD;
            background-color: #FFFFFF;
        }

    </style>
</head>

    <h2 class="titulo col-md-12" style="margin-bottom:0">Preguntas de Ayuda</h2>

    <div class="col-md-9">

        <div class="pregunta-item">
            <div class="pregunta" onclick="desplegarRespuesta('ans1')">¿Dónde puedo comprar Lootboxes?</div>
            <div class="respuesta" id="ans1">
                Las Lootboxes pueden ser compradas en la tienda virtual de TecTreasure, la cual puedes
                encontrar en la sección 'Tienda Tectreasure'. Cada Lootbox pertenece a un sorteo de Sorteos Tec
                y los items que te ganes al comprar y abrir la Lootbox podrán ser aplicados solamente en dicho sorteo (siempre y cuando sean
                items relacionados al sorteo). Para comprar las Lootboxes debes agregar las que desees comprar al carrito, al cuál puedes ir
                después para pagar lo seleccionado.
            </div>
        </div>

        <div class="pregunta-item">
            <div class="pregunta" onclick="desplegarRespuesta('ans2')">¿Qué puedo ganar en las Lootboxes?</div>
            <div class="respuesta" id="ans2">Las Lootboxes contienen 4 tipos de items: Objetos de Casa, los cuales son objetos virtuales que
            puedes colocar en tu casa virtual en TecTreasure; Skins, cambios de apariencia para tu personaje en TecTreasure; Descuentos,
            los cuales se pueden aplicar en la compra de un boleto para un sorteo de Sorteos Tec, y pueden ser de 20 o 25% (el descuento
            es para el sorteo al que pertenece la Lootbox); y finalmente Boletos, los cuales son boletos para participación directa en el
            sorteo al que pertenece la Lootbox abierta. Estos items tienen diferentes niveles de rareza, los cuales son los siguientes: <br>
            Objeto de Casa: Común <br>
            Skins: Raro <br>
            Descuento: Muy raro <br>
            Boleto: Ultra raro</div>
        </div>

        <div class="pregunta-item">
            <div class="pregunta" onclick="desplegarRespuesta('ans3')">¿Qué métodos de pago hay disponibles para las Lootboxes?</div>
            <div class="respuesta" id="ans3">Las Lootboxes solo pueden ser compradas con dinero a real, a diferencia de los items en
            TecTreasure que pueden ser comprados con las moneditas ganadas al jugar. </div>
        </div>

        <div class="pregunta-item">
            <div class="pregunta" onclick="desplegarRespuesta('ans4')">¿Cómo ingreso al portal de administradores?</div>
            <div class="respuesta" id="ans4">El personal de administradores no está disponible al público, a este solo puede acceder personal
            autorizado de Sorteos Tec.</div>
        </div>

        <div class="pregunta-item">
            <div class="pregunta" onclick="desplegarRespuesta('ans5')">¿Cómo puedo jugar TecTreasure?</div>
            <div class="respuesta" id="ans5">Para ingresar al juego solo debes ir a la sección llamada 'Videojuego' de la página, en esta
            podrás encontrar el juego y acceder a él.</div>
        </div>

        <div class="pregunta-item">
            <div class="pregunta" onclick="desplegarRespuesta('ans6')">¿En qué consiste el juego?</div>
            <div class="respuesta" id="ans6">TecTreasure consiste en sobrevivir la mayor cantidad de tiempo posible. Cuentas con tres
            vidas y el juego es de tipo 'endless action', por lo que este finaliza solamente cuando las vidas se agotan. Mientras más
            tiempo pase, más díficil se vuelve, pero al mismo tiempo mejores son las recompensas.</div>
        </div>

        <div class="pregunta-item">
            <div class="pregunta" onclick="desplegarRespuesta('ans7')">¿Qué es la 'Casa' en el videojuego?</div>
            <div class="respuesta" id="ans7">La casa es un espacio en donde puedes colocar los items de tipo 'Objeto de Casa' que obtengas.
            Los items de tipo 'Objeto de Casa' los puedes comprar en el propio menú que se encuentra en la Casa, o ganar en las Lootboxes de la
            tienda virtual en la página web.</div>
        </div>

        <div class="pregunta-item">
            <div class="pregunta" onclick="desplegarRespuesta('ans8')">¿Si compro Lootboxes las puedo abrir después?</div>
            <div class="respuesta" id="ans8">Sí, las lootboxes compradas son guardadas en tu cuenta, por lo que siempre las tendrás
            hasta que las abras. Incluso si cierras sesión, luego puedes volver y las encontrarás.</div>
        </div>

    </div>

    @section scripts {

        <script>function desplegarRespuesta(ansId) {
                var respuesta = document.getElementById(ansId);
                if (respuesta.style.display == 'block') {
                    respuesta.style.display = 'none';
                }
                else {
                    respuesta.style.display = 'block';
                }
            }</script>
    }
